[Unit]
Description=DNS-over-HTTPS Server
After=network.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/doh-server
LimitNOFILE=1048576
Restart=always
RestartSec=3
Type=simple
User=nobody

[Install]
WantedBy=multi-user.target
