<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>org.eu.starlab.doh.client</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/doh-logger</string>
			<string>doh-client</string>
			<string>/usr/local/bin/doh-client</string>
			<string>-conf</string>
			<string>/usr/local/etc/dns-over-https/doh-client.conf</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>UserName</key>
		<string>root</string>
		<key>GroupName</key>
		<string>wheel</string>
		<key>KeepAlive</key>
		<dict>
			<key>SuccessfulExit</key>
			<false/>
		</dict>
		<key>ThrottleInterval</key>
		<integer>5</integer>
	</dict>
</plist>
