name: Go build for Linux
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.13
      id: go

    - name: Check out repository
      uses: actions/checkout@v2

    - name: Linux build
      run: |
        make

    - name: Upload Linux build
      uses: actions/upload-artifact@v2
      with:
        name: linux-amd64
        path: |
          doh-client/doh-client
          doh-server/doh-server

    - name: Cache
      uses: actions/cache@v2
      with:
        # A directory to store and save the cache
        path: ~/go/pkg/mod
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}
